  $primary: #0182b3;
  $secondary: #1c2734;
  $light-gold: #ffd75c;
  $black: #101010;
  $black-two: #282828;
  $azure: #0099ff;
  $peacock-blue: #005baa;
  $faded-blue: #6785c1;
  $denim: #34567e;
  $red: #d30000;
  $light-pink: #ffc8e6;
  $white: #ffffff;
  $seaweed: #17c688;
  $robin-s-egg: #5cfdff;
  $robin-s-egg-two: #51deff;
  $dark-hot-pink: #d20071;


  $font-family-base:'Catamaran',
  Arial,
  sans-serif !default;
  $font-size-base:1.2rem; // 1.2rem == 12px